---
import FormattedDate from '@/components/FormattedDate.astro';
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';

interface Props {
  currentTitle: string;
  currentTags?: string[];
}

const { currentTitle, currentTags = [] } = Astro.props;

const otherPosts = (await getCollection('blog'))
  .filter((post) => !post.data.draft && post.data.title !== currentTitle)
  .map((page) => {
    const tagOverlap = currentTags.filter((tag) => page.data.tags?.includes(tag)).length;

    return {
      ...page,
      relevanceScore: tagOverlap,
      date: new Date(page.data.pubDate),
    };
  })
  .sort((a, b) => {
    if (a.relevanceScore !== b.relevanceScore) {
      return b.relevanceScore - a.relevanceScore;
    }
    return b.date.getTime() - a.date.getTime();
  })
  .slice(0, 3);
---

<div class="p-6 lg:p-10">
  <div class="flex flex-col gap-8">
    {
      otherPosts.map((post) => {
        <a href={`/blog/${post.id}`} class="group grid cursor-pointer grid-cols-1 items-center gap-4 lg:grid-cols-12">
          {post.data.heroImage && (
            <div class="col-span-1 shrink-0 lg:col-span-4">
              <div class="relative h-full w-full">
                <Image
                  src={post.data.heroImage}
                  alt={post.data.title}
                  class="h-full w-full rounded-lg object-cover transition-opacity group-hover:opacity-80"
                />
              </div>
            </div>
          )}
          <div class="col-span-1 flex-1 space-y-2 lg:col-span-8">
            <h3 class="text-card-foreground group-hover:text-primary line-clamp-2 text-lg font-semibold underline-offset-4 transition-colors group-hover:underline">
              {post.data.title}
            </h3>
            <p class="text-muted-foreground line-clamp-3 text-sm underline-offset-4 group-hover:underline">
              {post.data.description}
            </p>
            <FormattedDate date={post.data.pubDate} className="text-muted-foreground block text-xs font-medium" />
          </div>
        </a>;
      })
    }
  </div>
</div>
